<div class="container">
  <div class="login">
    <img class="login__logo" src="/assets/images/trakto-logo.svg" alt="logo" />
    <h1 class="login__welcome">Olá, faça login em sua conta.</h1>
    <form class="login__form">
      <label for="email">
        E-mail
        <input
          type="email"
          [(ngModel)]="user.email"
          name="email"
          id="email"
          autocomplete="false"
        />
      </label>
      <label for="password">
        Senha
        <input
          type="password"
          [(ngModel)]="user.password"
          name="password"
          id="password"
        />
      </label>
      <button
        class="btn-primary"
        (click)="onSubmit(user)"
        [disabled]="isLoading"
      >
        <img
          *ngIf="isLoading"
          class="loading"
          src="../../../assets/images/spinner.svg"
          alt="loading"
        />
        {{ isLoading ? "Entrando..." : "Entrar" }}
      </button>
    </form>
  </div>
</div>
