.container {
  width: 100%;
  height: 100vh;
  background-color: var(--bd-light);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    &__recent-draws {
      width: 100%;
      max-width: 1792px;
      background-color: var(--white);
      border-radius: 8px;
      padding: 3.5rem 4.5rem;

      header {
        display: flex;
        justify-content: space-between;
        line-height: 1;

        .col {
          display: flex;
          flex-direction: column;

          &__date {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            &-period {
              padding: 0.25rem 0.5rem;
              background-color: var(--bd-light);
              color: var(--cloudy);
              font-size: 1rem;
              font-weight: 500;
              border-radius: 6.25rem;
            }

            &-controls {
              margin-left: 0.5rem;

              img {
                &:first-child {
                  margin-right: 0.5rem;
                }
              }
            }
          }

          &__title {
            h2 {
              font-size: 1.5rem;
              font-weight: 700;
              color: var(--dark-200);
              margin-bottom: 0.5rem;
            }

            p {
              color: var(--cloudy);
            }
          }
        }
      }
    }

    .slider {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 304px);
      gap: 2rem;
      margin-top: 2.813rem;

      &::-webkit-scrollbar {
        display: none;
      }

      &__design {
        picture {
          img {
            width: 19.375rem;
            height: 10.875rem;
            background-color: var(--bd-light);
            border-radius: 8px;
          }
        }
        .details {
          margin-top: 1rem;

          .description {
            font-size: 1.125rem;
            font-weight: 700;
            color: var(--dark-200);
            text-decoration: none;

            &:hover {
              color: var(--cloudy);
            }
          }
        }
      }
    }
  }
}
