<div class="container">
  <app-navbar-light></app-navbar-light>
  <section class="content">
    <article>
      <img
        class="banner"
        loading="lazy"
        src="../../../../assets/images/banner.png"
        alt="Home banner"
        width="1792"
        height="584"
      />
    </article>

    <article class="content__recent-draws">
      <header>
        <div class="col">
          <div class="col__date">
            <span class="col__date-period">Semana 06/02 até 28/02</span>
            <div class="col__date-controls">
              <img src="../../../../assets/images/arrow-left.svg" alt="" />
              <img src="../../../../assets/images/arrow-right.svg" alt="" />
            </div>
          </div>
          <div class="col__title">
            <h2>Material Didático</h2>
            <p>Acesse suas últimas apresentações de aula.</p>
          </div>
        </div>
        <div class="col">
          <button class="btn-outlined blue">Ver todo conteúdo</button>
        </div>
      </header>

      <main class="slider">
        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide1.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 1: Fono-ortografia</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide2.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 2: Protocolos de Leitura</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide3.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 3: Corpo Humano</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide4.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 4: Morfologia</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide5.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 5: Constelações & Mapas Celestial</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide6.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 6: Construção do Sistema Alfabético</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide7.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 7: O que forma o povo</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/slide8.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 8: A questão do tempo</p>
          </div>
        </div>
      </main>
    </article>

    <article class="content__last-videos">
      <header>
        <div class="col">
          <div class="col__date">
            <span class="col__date-period">Semana 06/02 até 28/02</span>
            <div class="col__date-controls">
              <img src="../../../../assets/images/arrow-left.svg" alt="" />
              <img src="../../../../assets/images/arrow-right.svg" alt="" />
            </div>
          </div>
          <div class="col__title">
            <h2>Material Didático</h2>
            <p>Acesse suas últimas apresentações de aula.</p>
          </div>
        </div>
        <div class="col">
          <button class="btn-outlined danger">
            <img
              src="../../../../assets/images/icon-video.svg"
              style="margin-right: 0.5rem"
            />
            Abrir no Youtube
          </button>
        </div>
      </header>

      <main class="slider">
        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb1.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 1: Fono-ortografia</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb2.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 2: Protocolos de Leitura</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb3.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 3: Corpo Humano</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb4.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 4: Morfologia</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb5.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 5: Constelações & Mapas Celestial</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb6.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 6: Construção do Sistema Alfabético</p>
          </div>
        </div>

        <div class="slider__design">
          <picture>
            <img src="../../../../assets/images/thumb7.png" alt="" />
          </picture>
          <div class="details">
            <p class="description">Aula 7: O que forma o povo</p>
          </div>
        </div>
      </main>
    </article>
  </section>
</div>
