.container {
  &__navbar-light {
    width: 100%;
    height: 4.75rem;
    background-color: var(--white);
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      height: 3.125rem;
    }

    .profile {
      width: 320px;
      display: inline-block;
      align-items: center;
      position: relative;

      &__nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

        .item {
          display: flex;
          align-items: center;
          font-size: 1.125rem;
          font-weight: 400;
          color: var(--cloudy);

          &__icon {
            margin-right: 0.5rem;
          }

          &__avatar {
            margin-right: 0.25rem;
            cursor: pointer;
          }
        }

        .item-before,
        .item-after {
          width: 24px;
          height: 1px;
          background: var(--cloudy);
          transform: rotate(90deg);
          opacity: 0.32;
        }
      }

      .select-profile {
        display: none;
        width: 220px;
        background: var(--white);
        position: absolute;
        margin-top: 40px;
        top: 0px;
        right: 0px;
        border-radius: 4px;
        transition: all 0.5s ease;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.125);
        -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.125);
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.125);

        .username {
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 300;
          color: var(--dark);
          text-transform: capitalize;
          padding: 1rem;
        }

        .divisor {
          width: 100%;
          height: 1px;
          background: var(--light);
        }

        .logout {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.875rem;
          color: var(--dark);

          &:hover {
            color: var(--primary);
          }

          img {
            margin-right: 0.8rem;
            height: 20px;
          }
        }
      }

      &:hover {
        display: block;

        .select-profile {
          display: block;
        }
      }
    }
  }
}
