/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--tx-default);
  line-height: 1.2;
  height: 100%;
}

:root {
  --brand: #66bfff;
  --primary: #1dc763;
  --primary-hover: #17944b;
  --white: #fff;
  --light: #eff2f9;
  --bd-light: #e4ebfb;
  --clear: #d0daef;
  --darkest: #04183e;
}
